{% load static%}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA=="
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <title>GKE Django App</title>
  </head>

  <body>
    <div class="nav_container">
      <div class="home_nav_container_1">
        <div class="nav-item" id="logo_nav">
          <a class="logo_btn" href="">GKE-Django-App</a>
        </div>
      </div>
      <div class="middle_nav">
        <div id="btn4" class="nav-item">
          <a class="nav-link" href="">Home <i class="fas fa-home"></i></a>
        </div>
      </div>
      {% if request.user.is_authenticated %}
      <div class="home_nav_container_2">
        <div id="login_link" class="nav-item">
          <div id="btn4">
            <a id="logout" class="nav-link" href="{% url 'app:mock_logout' %}"
              >Logout <i class="fas fa-sign-in-alt"></i
            ></a>
          </div>
        </div>
      </div>
      {% else %}
      <div class="home_nav_container_2">
        <div id="login_link" class="nav-item">
          <div id="btn4">
            <a class="nav-link" href="{% url 'app:mock_login' %}">Login <i class="fas fa-sign-in-alt"></i></a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>

    {% if request.user.is_authenticated %}
    <div class="welcome_banner">
      <div class="banner_sub" data-sessionkey="{{request.session.session_key}}" data-token="{{token}}">
        You are now "mock" signed in with email: {{request.user.email}}
      </div>
    </div>
    {% endif %}

    <div class="content_card_container">
      <div class="card_header">Django Full Stack Application</div>
      <div class="p">This app is deployed in a GKE cluster, running in a Docker container.</div>
      <div class="p">
        Environment variables from inside the pod:
        <ul>
          <li>Node Name: {{NODE_NAME}}</li>
          <li>Pod IP: {{POD_IP}}</li>
          <li>Host: {{HOSTNAME}}</li>
          <li>Host IP: {{HOST_IP}}</li>
          <li>Pod Service Account Name: {{POD_SERVICE_ACCOUNT_NAME}}</li>
          <li>Pod Name: {{POD_NAME}}</li>
          <li>Pod Namespace: {{POD_NAMESPACE}}</li>
        </ul>
      </div>
    </div>
    <br />
    <div class="signature">
      <p class="signature_description">
        Made for demo purposes for
        <a
          href="https://github.com/MattCrook/gke-cluster/tree/master/app/django"
          target="_blank"
          rel="noopener noreferrer"
          >Django App and API</a
        >
        <i class="fas fa-trademark"></i>
      </p>
      <p class="signature_description_sub">
        Made by <a href="https://matt-crook.vercel.app/" target="_blank" rel="noopener noreferrer">Matt Crook</a>
        <i class="far fa-copyright"></i>
      </p>
    </div>
    <script type="text/javascript">
      sessionStorage.setItem("session-key", JSON.stringify(document.querySelector(".banner_sub").dataset));

      const logout = document.getElementById("logout");
      if (logout) {
        logout.addEventListener("click", () => {
          sessionStorage.clear();
        });
      }
    </script>
  </body>
</html>
