<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}" />
    <title>Flask App</title>
  </head>
  <body>
    <div id="content">
      <div class="header">
        <div class="title_container">
          <div class="title">Flask App</div>
        </div>
        <div class="admin_dashboard_btn_wrapper">
          <a class="admin_dashboard_btn" href="/admin/">Admin Dashboard</a>
        </div>
        <div class="admin_dashboard_btn_wrapper">
          <a class="admin_dashboard_btn" href="{{url_for('swagger')}}">Swagger API Docs</a>
        </div>
        <div id="profile-button-container">
          <div>
            <div id="profile-button">
              <img
                class="user_image"
                src="{{'https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg'}}"
                style="z-index: 4"
              />
            </div>
          </div>
        </div>
      </div>

      <div class="dropdown_container" style="display: none;">
          <div class="dropdown_row">
            <div class="dropdown_item">Settings</div>
            <i class="fas fa-user-cog"></i>
          </div>
          <div class="dropdown_row">
            <div class="dropdown_item">Home</div>
            <i class="fas fa-home"></i>
          </div>
          <div class="dropdown_row">
            <div class="dropdown_item">Profile</div>
            <i class="fas fa-user-circle"></i>
          </div>
          <div class="dropdown_row">
            <div class="dropdown_item">Logout</div>
            <i class="fas fa-sign-out-alt"></i>
          </div>
      </div>

      <div class="description_card">
        <div class="card">
          <div class="card_title">Flask App and API Using SqlAlchemy and Marshmallow</div>
          <div class="description">
            This is a simple Flask App, with a simple API that allows functionality of the form below, for demonstration
            purposes.
          </div>
          <div class="description_sub">
            Your request was routed from the LoadBalancer from which exposed the external IP, into the cluster onto one of the nodes, and into a pod running on that node where this app is running on port 5000.
          </div>
          <div class="pod_metadata">This Current Pod's Metadata:</div>
          <div class="metadata">Pod Name: {{POD_NAME}}</div>
          <div class="metadata">Pod Namespace: {{POD_NAMESPACE}}</div>
          <div class="metadata">Pod IP: {{POD_IP}}</div>
          <div class="metadata">Node Name: {{NODE_NAME}}</div>
          <div class="metadata">Service Account of pod: {{POD_SERVICE_ACCOUNT_NAME}}</div>
          <br>
          <div class="metadata">These are coming from the DownwardAPI:</div>
          <div class="metadata">Pod Labels: {{LABELS}}</div>
          <div class="metadata">Container Cpu Request MilliCores: {{CONTAINER_REQUEST_CPU}}</div>
          <div class="metadata">Pod Annotations: {{ANNOTATIONS}}</div>




        </div>
      </div>

      <div id="main">
        <div id="form_container">
          <form class="form" method="POST">
            {{csrf_token}}
            <fieldset class="fieldset_container">
              <input required class="input" id="name" type="text" name="name" />
              <label class="label" for="name">Name</label>
            </fieldset>
            <fieldset class="fieldset_container">
              <input required class="input" id="username" type="text" name="username" />
              <label class="label" for="username">Username</label>
            </fieldset>
            <fieldset class="fieldset_container">
              <input required class="input" id="favorite_tech" type="text" name="favorite_tech" />
              <label class="label" for="favorite_tech">Favorite Tech</label>
            </fieldset>
            <fieldset class="fieldset_container">
              <input class="input" id="description" type="text" name="description" />
              <label class="label" for="description">Favorite Tech Description (*Optional)</label>
            </fieldset>
            <input class="submit_btn" id="submit" type="submit" value="SUBMIT" />
          </form>
        </div>

        {% if is_users %}
        <div id="results_container">
            {% else %}
            <div id="results_container" style="display: none;">
                {% endif %}
          <div class="results_header_wrapper">
            <div class="column_wrapper">
              <div class="results_heading">Name</div>
              <div class="column">
                {% for user in users %}
                <div class="results_body">{{user.name}}</div>
                {% endfor%}
              </div>
            </div>

            <div class="column_wrapper">
              <div class="results_heading">Username</div>
              <div class="column">
                {% for user in users %}
                <div class="results_body">{{user.username}}</div>
                {% endfor%}
              </div>
            </div>

            <div class="column_wrapper">
              <div class="results_heading">Favorite Tech</div>
              <div class="column">
                {% for favorite_tech in all_tech %}
                <div class="results_body">{{favorite_tech.name}} </div>
                {% endfor%}
              </div>
            </div>

            <div class="column_wrapper">
              <div class="results_heading">Favorite Tech Description</div>
              <div class="column">
                {% for favorite_tech in all_tech %}
                <div class="results_body">{{favorite_tech.description}} </div>
                {% endfor%}
            </div>
        </div>

          </div>
        </div>
      </div>
      <div class="signature">
        <p class="signature_description">
          Made for demo purposes for <a href="https://github.com/MattCrook/gke-cluster/tree/master/app/flask" target="_blank" rel="noopener noreferrer">Flask App and API</a> <i class="fas fa-trademark"></i>
        </p>
        <p class="signature_description_sub">
          Made by <a href="https://matt-crook.vercel.app/" target="_blank" rel="noopener noreferrer">Matt Crook</a> <i class="far fa-copyright"></i>
        </p>
      </div>
    </div>

    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
  </body>
</html>
