[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Flask = "*"
Flask-Admin = "*"
Flask-Bcrypt = "*"
Flask-Login = "*"
flask-marshmallow = "*"
Flask-Migrate = "*"
Flask-RESTful = "*"
Flask-SQLAlchemy = "*"
Jinja2 = "*"
marshmallow-sqlalchemy = "*"
sqlalchemy = "*"
python-dotenv = "*"


[dev-packages]

[requires]
python_version = "3.9"
